.nav-bar_container {
  a {
    color: #000;
  }
  body.darkmode & {
    img {
      filter: invert(98%) sepia(6%) saturate(0%) hue-rotate(220deg)
        brightness(104%) contrast(101%);
    }
  }
  img {
    width: 17%;
    height: 17%;
    padding: 20px;
    transition: 0.8s;
    &:hover {
      transform: scale(1.1);
    }
  }
  width: 98%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: 'Oswald', sans-serif;
  font-weight: 600;

  ul {
    display: flex;
    a {
      font-size: 20px;
      color: #000;
    }
  }
  .nav-bar {
    ul {
      gap: 40px;
      height: 30px;
      li {
        &:hover {
          border-bottom: #ea7914 2px solid;
          
        }
      }
    }
  }
  .nav-bar_redes {

    a {
      font-size: 22px;
      margin: 15px;
    }
  }
  .inicio-color {
    color: #ea7914;
  }

  body.darkmode & {
    a {
      color: white;
    }
    .inicio-color {
      color: #ea7914;
    }
  }

  .carrito-header {
    
    a {
      transition: 1s !important;
      color: #ea7914 !important;
      font-size: 25px !important;
    }
  }
  .carrito-header--hide {
    a {
      transition: 1s;
      font-size: 20px;
      color: #000;
    }
    body.darkmode & {
      a {
        transition: 0.8s;
        font-size: 20px;
        color: #fff;
      }
    }
  }
}
