header {
    img {
        filter: brightness(1.1);
        mix-blend-mode: multiply;
    }
}

body {
    text-align: center;
    width: 100%;
    transition: 0.8s;

}

ul{
      list-style: none;
        a {
            text-decoration: none;
        }
    }


.disabled{
    display: none;
    visibility: hidden;
}

.carrito-comprado {
    color: red;
    display: flex;
    align-self: center;
    position: absolute;
    margin-top: 50px;
}    //HACER UN LAYOUT NUEVO PARA LAS COSAS DEL CARRITO 

.darkmode {
    background-color: #13191B;
    color: #fff;
}

